@page "/"

<h1>Home</h1>

機能説明
<ul>
    <li>
        <a href="/user">User</a>のページでユーザー登録をする
        <ul>
            <li>アカウント(メールアドレス)とパスワードを入力する</li>
            <li>システムからメールを送って本人か認証する作業は未実装</li>
            <li>ログイン機能は未実装</li>
        </ul>
    </li>
    <li>
        <a href="/pc">PC List</a>のページでPCを登録する
        <ul>
            <li>アカウントとパスワードおよびPCの名称を登録する</li>
        </ul>
    </li>
    <li>
        IPアドレスを登録するサービスプログラムをインストールする<br/>
        設定項目：
        <ul>
            <li>サーバーURLの指定（この<a href="">LINK</a>のURLをコピーしてください）</li>
            <li>ユーザー登録に使用したアカウントとパスワード</li>
            <li>PC起動時にサービスが自動起動することを許可するか</li>
            <li>IPアドレスを登録する処理が走るタイミングの指定</li>
        </ul>
    </li>
    <li>
        <a href="/ipaddress">IP Address</a>のページで登録されたIPアドレスを確認する
        <ul>
            <li>確認には、アカウントとパスワードが必要</li>
        </ul>
    </li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
